{%extends 'base1.html'%}

{%block content1%}


<table class="table  table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email ID</th>
        <th scope="col">phone</th>
        <th scope="col">Branch</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        {%for st in student%}
      <tr>
        
        <th >{{st.id}}</th>
        <td>{{st.fname}}</td>
        <td>{{st.lname}}</td>
        <td>{{st.email}}</td>
        <td>{{st.phone}}</td>
        <td>{{st.branch}}</td>
        <td>
            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#viewModal{{st.id}}"><i class="fa-solid fa-circle-info"></i>View</button>
            {% comment %}modal student list{% endcomment %}
            <!-- Button trigger modal -->

  
        <!-- Modal -->
        <div class="modal fade" id="viewModal{{st.id}}" tabindex="-1" aria-labelledby="viewModalLabel{{st.id}}" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="viewModalLabel {{st.id}}">Student:{{st.fname}} {{st.lname}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <ul>
                    <li><strong>student id: </strong>{{st.id}}</li>
                    <li><strong>student FirstName: </strong>{{st.fname}}</li>
                    <li><strong>student LastName: </strong>{{st.lname}}</li>
                    <li><strong>student EmailId: </strong>{{st.email}}</li>
                    <li><strong>student Phone: </strong>{{st.phone}}</li>
                    <li><strong>student Branch: </strong>{{st.branch}}</li>
                </ul>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                
                </div>
            </div>
            </div>
        </div>
            <a href="{% url "update" st.id %}" class="btn btn-warning btn-sm"><i class="fa-solid fa-pen-to-square"></i>update</a>
            <button type="button" class="btn btn-danger btn-sm "      data-bs-toggle= "modal" data-bs-target="#deleteModal{{st.id}}"><i class="fa-solid fa-trash"></i>Delete</button>
            {%comment%}modal for Delete{% endcomment%}   
            
            <!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="deleteModal{{st.id}}" tabindex="-1" aria-labelledby="deleteModalLabel{{st.id}}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"  id="deleteModalLabel{{st.id}}">Confirmation for delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>are you sure you want to delete</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
        <form action ="{%url "delete" st.id%}" method="post" class =d-inline>
          {% csrf_token %}
          <input  type="submit" value="Yes" class ="btn btn-primary">
         </form> 
      </div>
    </div>
  </div>
</div>
          </td>
      </tr>
      {%endfor%}
      
    </tbody>
  </table>

{%endblock content1%}


